.listed-game {
  margin-bottom: 40px;
}

.listed-game .row {
  margin-left: 0;
  margin-right: 0;
}

.listed-game-header {
  margin-right: 0;
  padding: 5px;
}

.listed-game-year {
  align-self:   center; 
  margin-left: 5px;
  font-weight: 600;
}

.listed-game-designer {
  margin-right: 0;
  padding-left:  5px;
}

.listed-game-info {
  text-align:  center;
}

.listed-game h5 {
  font-size:  1rem;
}

.game-img-container {
  height: 150px;
}

.listed-game-img {
  display: block;
  width: auto;
  height: auto;
  min-width: 100px;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.listed-game a:hover {
  text-decoration:  none;
}