.modal-dialog {
  margin: 2.5vh auto;
}

.modal-content {
  background-color: #6c757d;
  max-height: 95vh;
}

.modal-body {
  max-height: 80vh;
}

.modal-body img {
  max-height: 69vh;
}



.close {
  color: white;
  text-shadow: 0 1px 0 #4c5156;
  opacity: .9;
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 95vh;
  }
}