li .sm-game-img-container {
  min-height: 50px;
  max-height: 100px;
  padding-right: 0;
}

.sm-game-img {
  max-height: 100%;
}

.new-addition-link {
  display: block;
}

.new-addition-link:hover {
  text-decoration: none;
}