li .sm-game-img-container {
  display: inline-block;
  height: 100px;
  width: 100px;
}

.sm-game-img {
  display: inline-block;
  max-height: 100%;
  margin: 0 auto;
}

.new-addition-link {
  display: block;
  width: 90%;
}
